<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href={{ "/css/bootstrap.css" | prepend:site.baseurl }}>
    <!-- Custom CSS -->
    <link rel="stylesheet" href={{ "/css/custom.css" | prepend:site.baseurl }}>
    {% include /JB/facebook_sdk %}
</head>
