<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar-spy">
    <div class="container-fluid">
        <div class="navbar-header">
            <img alt="Omega Alumini Association" src="{{ site.brandimage | prepend: site.baseurl }}">
        </div>
        <button type="button" class="navbar-toggle collapsed navbar-left" data-toggle="collapse" data-target="#links" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="links">
            <ul class="nav navbar-nav">
                {%if layout == 'scrollspy'%}
                <li class="active"><a href="#home">Home</a></li>
                {% for page in site.links %}
                <li><a href="#{{page.title | replace: ' ', '_'}}">{{page.title}}</a></li>
                {% endfor %}
                {%else%}
                <li><a href="/{{ base.url }}">Home</a></li>
                {% assign pages_list = site.links %}
                        {% include JB/pages_list %}
                {%endif%}
                <li class="divider" role="separator"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    {% assign pages_list = site.posts %}
                        {% assign group='News' %}
                        {% include JB/pages_list %}
                    </ul>
                </li>
                <li class="divider" role="separator"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notices<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% assign pages_list = site.posts %}
                        {% assign group='Notices' %}
                        {% include JB/pages_list %}
                    </ul>
                </li>
                <li class="divider" role="separator"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    {% assign pages_list = site.events %}
                        {% include JB/pages_list %}
                    </ul>
                </li>
                <li class="divider" role="separator"></li>
                <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                    <i class="feed" type="text/svg" data="/images/feed.svg"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
