<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
    <body>
    {% include header.html %}
    <section class="container">
      {{ content }}
    </section>
    {% include footer.html %}
    </body>
    <script src="{{ "/js/jquery-2.1.4.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
</html>
