---
layout: default
---
{% include jumbotron.html %}
<article>
  {{ content }}
    <section>
        <time>{{page.time}}</time>
        <div>Venue</div><div>{{page.venue}}</div>
    </section>
</article>
